article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


$headerTypog: 'Rubik', sans-serif;
$contentTypog: 'Space Mono', monospace;

$mainBackgroundColor: #EDEDED;
$postBackgroundColor: #FBFAFA;
$modalBackgroundColor: #EFE6DD;
$buttonBackgroundColor: #2B3145;

$formBorderColor: #FFFDF9;
$inputBorderColor: #333438;

$mainTextColor: #231F20;
$buttonTextColor: #FFFCF9;

// element styling
html{
	font-size: 62.5%;
}

a:visited {
	text-decoration: none;
	color: #89949E;
}

ul {
	padding:0;
	list-style-type: none;
}

body {
	background-color: $mainBackgroundColor;
}

h1{
	font-family: $headerTypog;
	color: $mainTextColor;
	font-size: 3.5rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 6px;
}

h2{
	font-family: $headerTypog;
	color: $mainTextColor;
	font-size: 2.5rem;
	font-weight: 600;
	margin:0;
	text-transform: uppercase;
	letter-spacing: 3px;
}

header{
	display: flex;
	text-align: center;
}

label{
	font-family: $headerTypog;
	font-size: 2rem;
	letter-spacing: 2px;
}

textarea{
	resize:none;
	border: 1px solid $inputBorderColor;
}

input {
	text-align: center;
	outline: none;
	border: 1px solid $inputBorderColor;
}

.overlayForm.show{
	visibility: visible;
}

.overlayPost.show{
	visibility: visible;
}

.overlayPost{
	background-color: rgba(255,255,255, 0.9);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1000;
	visibility: hidden;
}

.overlayForm{
	background-color: rgba(255,255,255, 0.9);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	visibility: hidden;
}


.blogMason{
	width: 90%;
	margin: 25px auto;
	column-count: 3;
	column-gap: 15px;
}

// Header.js styling
.flexWrapper {
	display: flex;
	justify-content: space-between;
}

.header__signIn{
	display: flex;
	flex-direction: column;
	justify-content:center; 
	align-content:center;
}

.header__signIn a {
	font-family: $contentTypog;
	font-size: 2rem;
}

.userForm {
	display: flex;
	flex-direction: column;
	margin: auto;
	width:80%;
	label {
		margin-top: 20px;
		margin-bottom: 5px;
		letter-spacing: 2px;
	}
}

.userForm input{
	font-family: $contentTypog;
	font-size: 2rem;
	padding: 10px;
}

// app.js styling
.header__blogPage{
	display: flex;
	flex-direction: column;
}

.form__post {
	text-align: center;
	background-color: $modalBackgroundColor;
	border: 3px solid $formBorderColor;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content:center;
	padding: 30px;
	margin:0 auto;
	width:60%;
	position: absolute;
	top: 10%;
	left:20%;
	z-index: 100;
	h2{
		margin-bottom: 20px;
	}
	label {
		margin-top: 20px;
		margin-bottom: 5px;
		letter-spacing: 2px;
	}
}

.autocompleteInput {
	margin: 0 auto;
}

//Searchbar.js styling
.form__search{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content:center;
}

.form__search--input{
	font-family: $contentTypog;
	color: $mainTextColor;
	background-color: $postBackgroundColor;
	width:60%;
	margin:10px auto;
	font-size: 1.6rem;
	padding: 10px;
}

//Blogcard.js styling
.blogContent{
	text-align: left;
	background-color: $postBackgroundColor;
	display: inline-block;
	margin:  10px 0;
	padding: 20px;
	width: 100%; 
	z-index: 100;
	img {
		width:90%;
	}
}

.blogContent:hover{
	background-color: #EEE5DC;
}

.blogContent.focus{
	background-color: $postBackgroundColor;
	display: inline-block;
	margin:  10px 0;
	padding: 20px;
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%; 
	z-index: 100;
	height: 80vh;
	img{
		width:90%;
	}
}

.cardTitle {
	font-family: $headerTypog;
	color: $mainTextColor;
	padding: 10px 20px;
}

.fa-compass{
	font-size: 2rem;
	margin:10px 10px 10px -20px;
}
.cardLocation{
	font-family: $contentTypog;
	padding: 10px 20px;
	margin:0;
}

.cardPhoto{
	width: 100%;
}

.fa-sticky-note-o{
	font-size: 2rem;
	margin:10px 10px 10px -20px;
}

.cardNote{
	font-family: $contentTypog;
	padding: 10px 20px;
	margin:0;
}

// buttons
.button{
	background:none;
	border:none;
	font-size:1em;
	color: #FFFCF9;
	font-family: $contentTypog;
	background-color: $buttonBackgroundColor;
}

.button__submit {
	margin: 10px auto;
	font-size: 2rem;
	padding: 10px;
	font-family: $contentTypog;
}

.button__submit--width{
	width: 25%;
}

.button--header {
	width: 10%;
}

.button__remove{
	outline:none;
	font-size: 1.6rem;
	color: $mainTextColor;
	background-color: #FFF;
	border: 1px solid $inputBorderColor;
}