article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a:visited {
  text-decoration: none;
  color: #89949E; }

ul {
  padding: 0;
  list-style-type: none; }

body {
  background-color: #EDEDED; }

h1 {
  font-family: "Rubik", sans-serif;
  color: #231F20;
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 6px; }

h2 {
  font-family: "Rubik", sans-serif;
  color: #231F20;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px; }

header {
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

label {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px; }

textarea {
  resize: none;
  border: 1px solid #333438; }

input {
  text-align: center;
  outline: none;
  border: 1px solid #333438; }

.overlay.show {
  visibility: visible; }

.overlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  visibility: hidden; }

.blogMason {
  width: 90%;
  margin: 25px auto;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 15px;
       column-gap: 15px; }

.flexWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.header__signIn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center; }

.header__signIn a {
  font-family: "Space Mono", monospace;
  font-size: 2rem; }

.userForm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: auto;
  width: 80%; }
  .userForm label {
    margin-top: 20px;
    margin-bottom: 5px;
    letter-spacing: 2px; }

.userForm input {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  padding: 10px; }

.header__blogPage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.form__post {
  text-align: center;
  background-color: #EFE6DD;
  border: 3px solid #FFFDF9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 30px;
  margin: 0 auto;
  width: 60%;
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 10; }
  .form__post h2 {
    margin-bottom: 20px; }
  .form__post label {
    margin-top: 20px;
    margin-bottom: 5px;
    letter-spacing: 2px; }

.autocompleteInput {
  margin: 0 auto; }

.form__search {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }

.form__search--input {
  font-family: "Space Mono", monospace;
  color: #231F20;
  background-color: #FBFAFA;
  width: 60%;
  margin: 10px auto;
  font-size: 1.6rem;
  padding: 10px; }

.blogContent {
  background-color: #FBFAFA;
  display: inline-block;
  margin: 10px 0;
  padding: 20px;
  width: 100%; }

.blogContent:hover {
  background-color: #EEE5DC; }

.blogContent.focus {
  background-color: #FBFAFA;
  display: inline-block;
  margin: 10px 0;
  padding: 20px;
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50%;
  z-index: 15; }

.cardTitle {
  font-family: "Rubik", sans-serif;
  color: #231F20;
  padding: 10px 20px; }

.fa-compass {
  font-size: 2rem;
  margin: 10px 10px 10px -20px; }

.cardLocation {
  font-family: "Space Mono", monospace;
  padding: 10px 20px;
  margin: 0; }

.cardPhoto {
  width: 100%; }

.fa-sticky-note-o::before {
  font-size: 2rem;
  margin: 10px 10px 10px -20px; }

.cardNote {
  font-family: "Space Mono", monospace;
  padding: 10px 20px;
  margin: 0; }

.button {
  background: none;
  border: none;
  font-size: 1em;
  color: #FFFCF9;
  font-family: "Space Mono", monospace;
  background-color: #2B3145; }

.button__submit {
  margin: 10px auto;
  font-size: 2rem;
  padding: 10px;
  font-family: "Space Mono", monospace; }

.button__submit--width {
  width: 25%; }

.button--header {
  width: 10%; }

.button__remove {
  outline: none;
  font-size: 1.6rem;
  color: #231F20;
  background-color: #FFF;
  border: 1px solid #333438; }
